@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1> Vítejte na mé webové aplikaci</h1>
    <p>moje nejúspěšnější video je <a href = "https://www.youtube.com/watch?v=1--LDUqTFAE&t=198s">zde</a>.</p>
</div>
